### Data Warehousing Assignment

TOPIC: Data Warehousing Fundamentals
   1. Design a data warehouse schema for a retail company that includes dimension tables for products, customers, and time. Implement the schema using a relational database management system (RDBMS) of your choice.
   2. Create a fact table that captures sales data, including product ID, customer ID, date, and sales amount. Populate the fact table with sample data.
   3. Write SQL queries to retrieve sales data from the data warehouse, including aggregations and filtering based on different dimensions.

In [ ]:
# 1. Design a data warehouse schema for a retail company that includes dimension tables for products, customers, and time. Implement the schema using a relational database management system (RDBMS) of your choice.

# Designing a data warehouse schema involves creating dimension tables and a fact table to store data related to a retail company. In this example, we'll create three dimension tables for products, customers, and time, and a fact table to store sales data.

# Data Warehouse Schema:

# Products Dimension Table:

# product_id (Primary Key)
# product_name
# category
# price
# ...
# Customers Dimension Table:

# customer_id (Primary Key)
# customer_name
# city
# state
# ...
# Time Dimension Table:

# date_id (Primary Key)
# date
# day
# month
# year
# ...
# Sales Fact Table:

# sale_id (Primary Key)
# product_id (Foreign Key referencing Products Dimension Table)
# customer_id (Foreign Key referencing Customers Dimension Table)
# date_id (Foreign Key referencing Time Dimension Table)
# quantity
# total_amount
# ...


-- Create Products Dimension Table
CREATE TABLE products (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(100),
    category VARCHAR(50),
    price DECIMAL(10, 2)
    -- Add more product attributes as needed
);

-- Create Customers Dimension Table
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(100),
    city VARCHAR(50),
    state VARCHAR(50)
    -- Add more customer attributes as needed
);

-- Create Time Dimension Table
CREATE TABLE time (
    date_id INT PRIMARY KEY,
    date DATE,
    day INT,
    month INT,
    year INT
    -- Add more time attributes as needed
);

-- Create Sales Fact Table
CREATE TABLE sales (
    sale_id INT PRIMARY KEY,
    product_id INT,
    customer_id INT,
    date_id INT,
    quantity INT,
    total_amount DECIMAL(10, 2)
    -- Add more sales-related attributes as needed
);

In [ ]:
# 2. Create a fact table that captures sales data, including product ID, customer ID, date, and sales amount. Populate the fact table with sample data.

-- Create Sales Fact Table
CREATE TABLE sales (
    sale_id INT PRIMARY KEY,
    product_id INT,
    customer_id INT,
    date_id INT,
    quantity INT,
    total_amount DECIMAL(10, 2)
);

-- Insert Sample Data into Sales Fact Table
INSERT INTO sales (sale_id, product_id, customer_id, date_id, quantity, total_amount)
VALUES
    (1, 101, 201, 301, 5, 250.00),
    (2, 102, 202, 302, 3, 180.00),
    (3, 103, 201, 303, 2, 100.00),
    (4, 101, 203, 304, 4, 200.00),
    (5, 102, 204, 305, 1, 60.00),
    -- Add more sample data here
    (6, 104, 202, 306, 2, 120.00),
    (7, 103, 204, 307, 3, 150.00),
    (8, 101, 201, 308, 6, 300.00),
    (9, 102, 203, 309, 4, 240.00),
    (10, 104, 205, 310, 2, 120.00);

   3. Write SQL queries to retrieve sales data from the data warehouse, including aggregations and filtering based on different dimensions.

In [ ]:
# 1. Retrieve Total Sales Amount for Each Product:

SELECT
    product_id,
    SUM(total_amount) AS total_sales_amount
FROM
    sales
GROUP BY
    product_id;

# 2. Retrieve Total Sales Amount for Each Customer:

SELECT
    customer_id,
    SUM(total_amount) AS total_sales_amount
FROM
    sales
GROUP BY
    customer_id;

# 3. Retrieve Total Sales Amount for Each Month:

SELECT
    t.year,
    t.month,
    SUM(total_amount) AS total_sales_amount
FROM
    sales s
INNER JOIN
    time t ON s.date_id = t.date_id
GROUP BY
    t.year,
    t.month;

# 4. Retrieve Sales Amount for a Specific Product in a Specific Month:

SELECT
    p.product_name,
    t.year,
    t.month,
    SUM(s.total_amount) AS total_sales_amount
FROM
    sales s
INNER JOIN
    products p ON s.product_id = p.product_id
INNER JOIN
    time t ON s.date_id = t.date_id
WHERE
    p.product_name = 'Product1'
    AND t.year = 2023
    AND t.month = 7
GROUP BY
    p.product_name,
    t.year,
    t.month;

# 5. Retrieve Top N Products with the Highest Sales Amount:

SELECT
    p.product_name,
    SUM(s.total_amount) AS total_sales_amount
FROM
    sales s
INNER JOIN
    products p ON s.product_id = p.product_id
GROUP BY
    p.product_name
ORDER BY
    total_sales_amount DESC
LIMIT N; -- Replace N with the desired number of top products to retrieve

# 6. Retrieve Customers with the Highest Total Purchases:

SELECT
    c.customer_id,
    c.customer_name,
    SUM(s.total_amount) AS total_purchases
FROM
    sales s
INNER JOIN
    customers c ON s.customer_id = c.customer_id
GROUP BY
    c.customer_id,
    c.customer_name
ORDER BY
    total_purchases DESC;

# 7. Retrieve Total Sales Amount for Each Category of Products:
   SELECT
    p.category,
    SUM(s.total_amount) AS total_sales_amount
FROM
    sales s
INNER JOIN
    products p ON s.product_id = p.product_id
GROUP BY
    p.category;

TOPIC: ETL and Data Integration
  1. Design an ETL process using a programming language (e.g., Python) to extract data from a source system (e.g., CSV files), transform it by applying certain business rules or calculations, and load it into a data warehouse.
  2. Implement the ETL process by writing code that performs the extraction, transformation, and loading steps.

In [ ]:
# . Design an ETL process using a programming language (e.g., Python) to extract data from a source system (e.g., CSV files), transform it by applying certain business rules or calculations, and load it into a data warehouse.

import pandas as pd
from sqlalchemy import create_engine

def extract_data_from_csv(csv_file):
    # Read data from CSV file into a DataFrame
    df = pd.read_csv(csv_file)
    return df

def transform_data(df):
    # Applying transformations (For example, calculating a new column)
    df['total_price'] = df['quantity'] * df['unit_price']
    return df

def load_data_to_database(df, db_file):
    # Create a connection to the SQLite database
    engine = create_engine(f'sqlite:///{db_file}')

    # Store the DataFrame into a database table (replace 'your_table_name' with the desired table name)
    df.to_sql('your_table_name', engine, index=False, if_exists='replace')

if __name__ == "__main__":
    # Replace 'your_csv_file.csv' with the path to your CSV file
    csv_file = 'your_csv_file.csv'

    # Replace 'your_database_file.db' with the desired name for the SQLite database file
    db_file = 'your_database_file.db'

    # Step 1: Extract data from CSV
    data_df = extract_data_from_csv(csv_file)

    # Step 2: Transform data
    transformed_df = transform_data(data_df)

    # Step 3: Load data into the database
    load_data_to_database(transformed_df, db_file)

    print("ETL process completed successfully!")

In [ ]:
#  2. Implement the ETL process by writing code that performs the extraction, transformation, and loading steps.

import pandas as pd
from sqlalchemy import create_engine

def extract_data_from_csv(csv_file):
    # Read data from CSV file into a DataFrame
    df = pd.read_csv(csv_file)
    return df

def transform_data(df):
    # Applying transformations (For example, calculating a new column)
    df['total_price'] = df['quantity'] * df['unit_price']
    return df

def load_data_to_database(df, db_file, table_name):
    # Create a connection to the SQLite database
    engine = create_engine(f'sqlite:///{db_file}')

    # Store the DataFrame into a database table
    df.to_sql(table_name, engine, index=False, if_exists='replace')

if __name__ == "__main__":
    # Replace 'your_csv_file.csv' with the path to your CSV file
    csv_file = 'your_csv_file.csv'

    # Replace 'your_database_file.db' with the desired name for the SQLite database file
    db_file = 'your_database_file.db'

    # Replace 'your_table_name' with the desired table name
    table_name = 'your_table_name'

    # Step 1: Extract data from CSV
    data_df = extract_data_from_csv(csv_file)

    # Step 2: Transform data
    transformed_df = transform_data(data_df)

    # Step 3: Load data into the database
    load_data_to_database(transformed_df, db_file, table_name)

    print("ETL process completed successfully!")

TOPIC: Dimensional Modeling and Schemas
   1. Design a star schema for a university database, including a fact table for student enrollments and dimension tables for students, courses, and time. Implement the schema using a database of your choice.
   2. Write SQL queries to retrieve data from the star schema, including aggregations and joins between the fact table and dimension tables.

In [ ]:
#    1. Design a star schema for a university database, including a fact table for student enrollments and dimension tables for students, courses, and time. Implement the schema using a database of your choice.

# Star Schema for University Database:

# In this example, we'll design a star schema for a university database to track student enrollments in courses over time.

# Fact Table:

# Enrollments Fact Table:
# enrollment_id (Primary Key)
# student_id (Foreign Key referencing Students Dimension Table)
# course_id (Foreign Key referencing Courses Dimension Table)
# date_id (Foreign Key referencing Time Dimension Table)
# enrollment_count (e.g., number of students enrolled in a course on a particular date)
# Dimension Tables:

# Students Dimension Table:

# student_id (Primary Key)
# student_name
# student_age
# student_gender
# ...
# Courses Dimension Table:

# course_id (Primary Key)
# course_name
# course_department
# course_credits
# ...
# Time Dimension Table:

# date_id (Primary Key)
# date
# day_of_week
# month
# year
# ...


import sqlite3

def create_tables():
    # Connect to the SQLite database (or create one if it doesn't exist)
    conn = sqlite3.connect('university.db')
    c = conn.cursor()

    # Create Students Dimension Table
    c.execute('''
        CREATE TABLE students (
            student_id INTEGER PRIMARY KEY,
            student_name TEXT,
            student_age INTEGER,
            student_gender TEXT
            -- Add more student attributes as needed
        )
    ''')

    # Create Courses Dimension Table
    c.execute('''
        CREATE TABLE courses (
            course_id INTEGER PRIMARY KEY,
            course_name TEXT,
            course_department TEXT,
            course_credits INTEGER
            -- Add more course attributes as needed
        )
    ''')

    # Create Time Dimension Table
    c.execute('''
        CREATE TABLE time (
            date_id INTEGER PRIMARY KEY,
            date TEXT,
            day_of_week TEXT,
            month INTEGER,
            year INTEGER
            -- Add more time attributes as needed
        )
    ''')

    # Create Enrollments Fact Table
    c.execute('''
        CREATE TABLE enrollments (
            enrollment_id INTEGER PRIMARY KEY,
            student_id INTEGER,
            course_id INTEGER,
            date_id INTEGER,
            enrollment_count INTEGER
            -- Add more fact attributes as needed
        )
    ''')

    # Commit changes and close the connection
    conn.commit()
    conn.close()

if __name__ == "__main__":
    create_tables()
    print("Star schema tables created successfully!")

In [ ]:
#  2. Write SQL queries to retrieve data from the star schema, including aggregations and joins between the fact table and dimension tables.

# 1. Retrieve Student Enrollment Count for Each Course:

SELECT
    c.course_name,
    SUM(e.enrollment_count) AS total_enrollments
FROM
    enrollments e
INNER JOIN
    courses c ON e.course_id = c.course_id
GROUP BY
    c.course_name;

    
# 2. Retrieve Student Enrollment Count for Each Course on a Specific Date:

SELECT
    c.course_name,
    t.date,
    e.enrollment_count
FROM
    enrollments e
INNER JOIN
    courses c ON e.course_id = c.course_id
INNER JOIN
    time t ON e.date_id = t.date_id
WHERE
    t.date = '2023-07-15'; -- Replace with the desired date

# 3. Retrieve Student Information for Enrollments in a Specific Course:

SELECT
    s.student_id,
    s.student_name,
    s.student_age,
    s.student_gender,
    e.enrollment_count
FROM
    enrollments e
INNER JOIN
    students s ON e.student_id = s.student_id
WHERE
    e.course_id = 101; -- Replace with the desired course_id

# 4. Retrieve Student Enrollment Count by Year and Month:

SELECT
    t.year,
    t.month,
    SUM(e.enrollment_count) AS total_enrollments
FROM
    enrollments e
INNER JOIN
    time t ON e.date_id = t.date_id
GROUP BY
    t.year,
    t.month;

# 5. Retrieve Student Enrollment Count for Male and Female Students in Each Course:

SELECT
    c.course_name,
    s.student_gender,
    SUM(e.enrollment_count) AS total_enrollments
FROM
    enrollments e
INNER JOIN
    courses c ON e.course_id = c.course_id
INNER JOIN
    students s ON e.student_id = s.student_id
GROUP BY
    c.course_name,
    s.student_gender;


# 6. Retrieve Student Enrollment Count for Each Department and Year:

SELECT
    c.course_department,
    t.year,
    SUM(e.enrollment_count) AS total_enrollments
FROM
    enrollments e
INNER JOIN
    courses c ON e.course_id = c.course_id
INNER JOIN
    time t ON e.date_id = t.date_id
GROUP BY
    c.course_department,
    t.year;

TOPIC: Performance Optimization and Querying
    1. Scenario: You need to improve the performance of your data loading process in the data warehouse. Write a Python script that implements the following optimizations:
Utilize batch processing techniques to load data in bulk instead of individual row insertion.
      b)  Implement multi-threading or multiprocessing to parallelize the data loading process.
      c)  Measure the time taken to load a specific amount of data before and after implementing these optimizations.

In [ ]:
# 1. Utilize batch processing techniques to load data in bulk instead of individual row insertion.

import sqlite3
import csv

def create_tables():
    # Database connection and table creation code (same as in the previous example)
    # ...

def load_data_to_database_bulk(csv_file, db_file, table_name):
    # Create a connection to the SQLite database
    conn = sqlite3.connect(db_file)
    c = conn.cursor()

    # Read data from CSV file and store it in a list of tuples
    with open(csv_file, 'r') as csvfile:
        reader = csv.reader(csvfile)
        data_to_insert = [tuple(row) for row in reader]

    # Prepare the SQL INSERT statement
    placeholders = ','.join(['?'] * len(data_to_insert[0]))
    sql_query = f'INSERT INTO {table_name} VALUES ({placeholders})'

    # Use executemany to insert data in bulk
    c.executemany(sql_query, data_to_insert)

    # Commit changes and close the connection
    conn.commit()
    conn.close()

if __name__ == "__main__":
    # Replace 'your_csv_file.csv' with the path to your CSV file
    csv_file = 'your_csv_file.csv'

    # Replace 'your_database_file.db' with the desired name for the SQLite database file
    db_file = 'your_database_file.db'

    # Replace 'your_table_name' with the desired table name
    table_name = 'your_table_name'

    # Step 1: Create tables (same as before)
    create_tables()

    # Step 2: Load data into the database using batch processing
    load_data_to_database_bulk(csv_file, db_file, table_name)

    print("Data loading using batch processing completed successfully!")

In [ ]:
#   b)  Implement multi-threading or multiprocessing to parallelize the data loading process.


import sqlite3
import concurrent.futures

def create_table():
    # Same as before

def insert_data_batch(data_batch):
    # Connect to the SQLite database
    conn = sqlite3.connect('example.db')
    c = conn.cursor()

    # Prepare the SQL INSERT statement
    sql_query = 'INSERT INTO students (name, age, grade) VALUES (?, ?, ?)'

    # Use executemany to insert data in bulk
    c.executemany(sql_query, data_batch)

    # Commit changes and close the connection
    conn.commit()
    conn.close()

def load_data_to_database_parallel(data_to_insert, batch_size=1000, num_threads=4):
    # Step 1: Create the table (if not exists)
    create_table()

    # Divide the data into batches
    data_batches = [data_to_insert[i:i + batch_size] for i in range(0, len(data_to_insert), batch_size)]

    # Step 2: Load data into the database using multi-threading
    with concurrent.futures.ThreadPoolExecutor(max_workers=num_threads) as executor:
        # Map the insert_data_batch function to the data batches in parallel
        executor.map(insert_data_batch, data_batches)

    print("Data loading using multi-threading completed successfully!")

if __name__ == "__main__":
    # Sample data to be inserted into the database in bulk
    data_to_insert = [
        ('Alice', 25, 'A'),
        ('Bob', 22, 'B'),
        ('Charlie', 21, 'C'),
        # Add more data as needed
    ]

    # Step 3: Load data into the database using multi-threading
    load_data_to_database_parallel(data_to_insert, batch_size=1000, num_threads=4)

In [ ]:
#     c)  Measure the time taken to load a specific amount of data before and after implementing these optimizations.

import sqlite3
import concurrent.futures
import time

# Rest of the functions and database setup are the same as before

def load_data_to_database_bulk(data):
    # Connect to the SQLite database
    conn = sqlite3.connect('example.db')
    c = conn.cursor()

    # Prepare the SQL INSERT statement
    sql_query = 'INSERT INTO students (name, age, grade) VALUES (?, ?, ?)'

    # Use executemany to insert data in bulk
    c.executemany(sql_query, data)

    # Commit changes and close the connection
    conn.commit()
    conn.close()

def load_data_to_database_parallel(data_to_insert, batch_size=1000, num_threads=4):
    # Step 1: Create the table (if not exists)
    create_table()

    # Divide the data into batches
    data_batches = [data_to_insert[i:i + batch_size] for i in range(0, len(data_to_insert), batch_size)]

    # Measure time before data loading
    start_time = time.time()

    # Step 2: Load data into the database using multi-threading
    with concurrent.futures.ThreadPoolExecutor(max_workers=num_threads) as executor:
        # Map the insert_data_batch function to the data batches in parallel
        executor.map(insert_data_batch, data_batches)

    # Measure time after data loading
    end_time = time.time()

    print(f"Data loading using multi-threading completed successfully in {end_time - start_time:.2f} seconds.")

if __name__ == "__main__":
    # Sample data to be inserted into the database in bulk
    data_to_insert = [
        ('Alice', 25, 'A'),
        ('Bob', 22, 'B'),
        ('Charlie', 21, 'C'),
        # Add more data as needed
    ]

    # Load data without optimizations
    print("Loading data without optimizations:")
    load_data_to_database_bulk(data_to_insert)

    # Load data with multi-threading optimizations
    print("\nLoading data with multi-threading optimizations:")
    load_data_to_database_parallel(data_to_insert, batch_size=1000, num_threads=4)